.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/uploads
/dist
*/tmp
tmp/*
.env
*.crt
*.key
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
word/*
